<div class="container" ng-controller="AddCarController">
    <div class="well" ng-if="status.done">
        {{msg}}
        <button ng-click="anotherOne()">Add another</button>
    </div>
    <div>
        <span us-spinner spinner-key="spinner-add-cars"></span>
    </div>
    <div class="well" ng-show="!status.done || status.inProg">
        <form name="addCarForm" class="form-horizontal">
            <fieldset>
                <legend>Add new car</legend>

                <div class="form-group">
                    <label for="car-model" class="col-md-2 control-label">Car Model</label>
                    <div class="col-md-10">
                        <input id="car-model" type="text" placeholder="Car model" ng-model="car.Model" required="required" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Year" class="col-md-2 control-label">Year</label>
                    <div class="col-md-10">
                        <input id="Year" type="number" placeholder="Year" ng-model="car.Year" required="required" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="HorsePowers" class="col-md-2 control-label">Horse Powers</label>
                    <div class="col-md-10">
                        <input id="HorsePowers" type="number" placeholder="HorsePowers" ng-model="car.HorsePowers" required="required" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="ImageUrl" class="col-md-2 control-label">Image Url</label>
                    <div class="col-md-10">
                        <input id="ImageUrl" type="url" placeholder="ImageUrl" ng-model="car.ImageUrl" required="required" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Manufacturer" class="col-md-2 control-label">Manufacturer</label>
                    <div class="col-md-10">
                        <input id="Manufacturer" type="text" placeholder="Manufacturer" ng-model="car.Manufacturer" required="required" class="form-control" />
                    </div>
                </div>
                <div>
                    {{status.error}}
                </div>
                <div class="pull-right">
                    <input type="submit" ng-click="postCarData(car,addCarForm)" ng-disabled="!addCarForm.$valid" class="btn btn-primary" value="Create" />
                    <a href="#/" class="btn btn-primary">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>