<div class="container">

    <div class="row">
        <div class="col-md-9">
            <h1>Cars</h1>
        </div>
        <div class="col-md-3">
            <input ng-model="searchText" class="form-control" placeholder="Search for a car" />
        </div>
    </div>

    <div ng-controller="CarsController"
         class="row">

        <div ng-repeat="car in cars | filter:searchText"
             class="panel col-md-4" style="padding: 15px;">

            <div class="row">
                <div class="panel-title col-md-12" style="text-align:center; min-height: 50px;">
                    <img src="{{car.ImageUrl}}" class="img-responsive center-block" alt="No image found" />
                </div>
            </div>

            <hr />
            
            <div class="row">
                <div class="col-md-12">
                    <div class="h2 text-center" style="margin: 0;">{{car.Model}}</div>
                    <table>
                        <thead>
                            <tr>
                              <th>Attribute</th>
                              <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td>Attribute</td>
                              <td>Data</td>
                            </tr>

                        </tbody>
                    </table>

                    <h5>HorsePowers: {{car.HorsePowers}}</h5>
                    <h5>Year: {{car.Year}}</h5>
                    <h5>Rating: {{car.Rating}}</h5>
                    <h5><strong>Manufacturer: {{car.Manufacturer.Name}}</strong></h5>
                </div>
            </div>
        </div>

    </div>

</div>
